:root {
    --base-color: #00708e;
    --main-bg-color: #f6fafd;
    --main-text-color: #636e71;
    --main-header-text-color: #354145;
    --main-green-color: #53b366;
    --header-link-color: #354145;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-header-text-color);
}

a {
    text-decoration: none;
    color: var(--main-green-color);
}
