:root {
    --base-color: #7FFFD4;
    --main-bg-color: #f7faff;
    --main-text-color: #2f3f5e;
    --main-header-text-color: #3b403f;
    --main-link-color: #71d2e3;
    --header-link-color: #254449;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-header-text-color);
}

a {
    text-decoration: none;
    color: var(--main-link-color);
}
